.benefits-list {
  &__thumb {
    @include flex-element-center();
    width: 100%;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }

  &__item:not(:last-child) {
    margin-bottom: var(--main-gap);
  }

  &__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-title-color);

    margin-top: 30px;
  }

  &__text {
    font-size: 14px;
    line-height: calc(24 / 16);
    letter-spacing: 0.03em;

    display: block;
    margin-top: 10px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;

    &__item {
      flex-basis: calc(100% / 2 - 30px);
    }

    &__item {
      margin-right: var(--main-gap);
      margin-bottom: var(--main-gap);
    }

    &__thumb {
      @include flex-element-center();
      width: 354px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;

    &__item:not(:last-child) {
      margin-right: var(--main-gap);
    }

    &__thumb {
      @include flex-element-center();
      width: 270px;
    }
  }
}
