.card {
  &__overlay {
    position: relative;
    overflow: hidden;
  }

  &__preview {
    display: block;
    max-width: 100%;
  }

  &__description {
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;

    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);

    overflow: auto;

    /* width: 100%; */
    height: 100%;
    padding: 63px 24px;

    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);

    @include animation-effect(transform);

    .cards-grid__item:hover & {
      transform: translateY(0);
    }
  }
  &__info {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--main-title-color);
  }

  &__category {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-text-color);

    margin-top: 4px;
  }
}
