.cards-grid {
  margin-top: 40px;

  &__item {
    background: #ffffff;

    @include animation-effect(box-shadow);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 14px;
    display: flex;
    flex-wrap: wrap;

    margin-right: calc(-1 * var(--main-gap));

    &__item {
      flex-basis: calc(100% / 2 - 30px);
      margin-right: var(--main-gap);
    }
  }

  @media screen and (min-width: 1200px) {
    margin-top: 50px;
    margin-bottom: -30px;

    &__item {
      flex-basis: calc(100% / 3 - 30px);
      margin-right: var(--main-gap);
      margin-bottom: var(--main-gap);
    }
  }
}
