.checkbox {
  &__policy {
    @include flex-element-center();

    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;

    color: var(--main-text-color);
  }

  &__check-custom {
    @include flex-element-center();
    margin-right: 8px;
    width: 16px;
    height: 15px;

    border: 2px solid rgba(33, 33, 33, 1);
    border-radius: 2px;
    fill: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    fill: inherit;
  }

  &__check-default:checked + &__policy > &__check-custom {
    background: var(--accent-color);
    border: none;
    fill: #ffffff;
  }

  &__link {
    color: #2196f3;
  }
}
