.current-page-marker {
  color: var(--current-page-marker-color);

  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

    display: block;

    position: absolute;
    left: 0;
    bottom: -1px;
  }
}
