.email {
  font-size: 14px;

  @include animation-effect(color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &--header-text-styles {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--main-text-color);

    @media screen and (min-width: 320px) {
      font-size: 24px;
      line-height: calc(28 / 24);
    }

    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: calc(14 / 12);
    }

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: calc(16 / 14);
    }
  }

  &--footer-text-styles {
    font-style: normal;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  &__icon {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      fill: currentColor;
      margin-right: 10px;
      max-height: 100%;
    }
  }
}

.header__email {
  @include flex-element-center();

  @media screen and (min-width: 768px) {
    padding-top: 20px;
    padding-bottom: 5px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
