.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;

  color: var(--logo-color);

  @media screen and(min-width:768px) {
    padding: 0;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31 / 26);
  }

  &--dark-color {
    color: #000000;
  }

  &--light-color {
    color: #ffffff;
  }
}
