.subscribe-form {
  &__input {
    color: #ffffff;

    width: 358px;
    height: 50px;
    padding: 15px 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: rgba(33, 150, 243, 0);
    outline: 0;

    &::placeholder {
      font-size: 16px;
      line-height: calc(20 / 16);

      display: flex;
      align-items: center;
      letter-spacing: 0.03em;

      color: rgba(255, 255, 255, 0.6);
    }
  }

  @media screen and(min-width:7680px) {
  }

  @media screen and(min-width:1200px) {
    display: flex;
    align-items: center;
  }
}

.footer__subscribe-form {
  margin-top: 20px;
}
