.clients-section {
  padding-top: var(--section-padding-top-mobile-tablet);
  padding-bottom: var(--section-padding-bottom-mobile-tablet);

  @media screen and (min-width: 1200px) {
    padding-top: var(--section-padding-top-desktop);
    padding-bottom: var(--section-padding-bottom-desktop);
  }
}
