.page-header {
  border-bottom: 1px solid #ececec;
  position: relative;

  & .container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      justify-content: space-between;
    }
  }
}

.navigation-wrap {
  @media screen and(max-width:767px) {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    padding: 48px 40px;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;

    background-color: #ffffff;

    transform: translateX(100%);
    opacity: 0.5;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @media screen and(min-width:768px) {
    display: flex;
    width: 100%;
    margin-left: 88px;

    flex-direction: row;
    justify-content: space-between;
  }

  @media screen and(min-width:1200px) {
    margin-left: 93px;
  }
}

.navigation-section {
  display: flex;
  align-items: center;
}

.contacts {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: auto;

    &__item:first-child {
      order: 1;
    }

    &__item:not(:last-child) {
      margin-top: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
  }

  &__item:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: 50px;
    }
  }
}

.page-header__contacts {
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}
