.page-header {
  border-bottom: 1px solid #ececec;

  & .container {
    display: flex;
  }
}

.navigation-section {
  display: flex;
  align-items: center;
}

.contacts {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__item:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: 50px;
    }
  }
}

.page-header__contacts {
  margin-left: auto;
}
