:root {
  --main-title-color: #212121;
  --main-text-color: #757575;
  --main-navigation-item-color: #212121;
  --logo-color: #2196f3;
  --accent-color: #2196f3;
  --current-page-marker-color: #2196f3;
  --btn-focus-hover-color: #188ce8;

  --section-padding-top: 94px;
  --section-padding-bottom: 94px;
  --main-gap: 30px;
}
